html{
    overflow-x: hidden;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 19px;
    
    font-family: "Montserrat", sans-serif;
} 

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    font-weight: bold;
    font-size: 30px;
    font-weight: medium;
    color: #e76f51;
    text-decoration: none;
}

.nav{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    color: white;
    text-decoration: none;
    color: #e76f51;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    transition: opacity.1s linear;
}

.nav__link:hover{
    color: #fce38a;

}

.nav__link:hover:after{
    display: block;
    opacity: 1;
}

.hat{
margin-top: -1px;
width: 100%;
opacity: 0.5;
}

body{
	font-family: "Montserrat", regular;
	line-height: 2.5;
}

h1{
	text-align: center;
		font-weight: bold;
		font-size: 30px;
		color: #e76f51;
		line-height: 3;
}

.analis__title{
	color: #e76f51;
	margin-left: 80px;
}

.analis{
	color: #000;
	margin-left: 60px;
}

.characters{
	margin-left: 50px;
	background-color: #ffd7ba;
	width: 275px;
	margin-left: 60px;
}

.char__title{
	color: #e76f51;
	margin-left: 80px;
}

.prob__title{
	color: #e76f51;
	margin-left: 80px;
}

.problems{
	background-color: #fcd5ce;
	width: 275px;
	margin-left: 60px;
}

.top1{
	background: url(img/vishivka1.jpg) repeat-x center bottom; 
 height: 300px;
 weight:1920px;
 opacity:0.5;
}

.text{
	margin-left: 30px;
}

.natalka{
	text-align: center;
	margin-top: 30px;
}

.poloska{
    float: right;
    margin: 0 0 5px 5px;
    margin-top: -11px;

}

.poloska2{
    float: left;
    margin: 0 0 5px 5px;
    margin-top: -11px;
}

.bold{
	font-weight: bold;
}

.composition{
	color: #e76f51;
	text-align: center;
}

.Eneida2{
	float: right;
	margin: 0 0 5px 5px;
}

.composition_text{
	margin-left: 70px;
	width: 1100px;
}

.topbutton {
width:80px;
position:fixed;
bottom:50px;
right:50px;
cursor:pointer;
font-family:verdana;
font-size:12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
transition:  .5s linear;
}